jni4net.iws
**/target/**
tools/keys/jni4net.snk
tools/lib/
jni4net.n/src/bin/Debug/net7.0/jni4net.n.deps.json
jni4net.n/src/bin/Debug/net7.0/jni4net.n.dll
jni4net.n/src/bin/Debug/net7.0/jni4net.n.pdb
jni4net.n/src/obj/jni4net.n.csproj.nuget.dgspec.json
jni4net.n/src/obj/jni4net.n.csproj.nuget.g.props
jni4net.n/src/obj/jni4net.n.csproj.nuget.g.targets
jni4net.n/src/obj/project.assets.json
jni4net.n/src/obj/project.nuget.cache
jni4net.n/src/obj/src.csproj.nuget.dgspec.json
jni4net.n/src/obj/src.csproj.nuget.g.props
jni4net.n/src/obj/src.csproj.nuget.g.targets
jni4net.n/src/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
jni4net.n/src/obj/Debug/net7.0/jni4net.n.AssemblyInfo.cs
jni4net.n/src/obj/Debug/net7.0/jni4net.n.AssemblyInfoInputs.cache
jni4net.n/src/obj/Debug/net7.0/jni4net.n.assets.cache
jni4net.n/src/obj/Debug/net7.0/jni4net.n.csproj.AssemblyReference.cache
jni4net.n/src/obj/Debug/net7.0/jni4net.n.csproj.CoreCompileInputs.cache
jni4net.n/src/obj/Debug/net7.0/jni4net.n.csproj.FileListAbsolute.txt
jni4net.n/src/obj/Debug/net7.0/jni4net.n.dll
jni4net.n/src/obj/Debug/net7.0/jni4net.n.GeneratedMSBuildEditorConfig.editorconfig
jni4net.n/src/obj/Debug/net7.0/jni4net.n.GlobalUsings.g.cs
jni4net.n/src/obj/Debug/net7.0/jni4net.n.pdb
jni4net.n/src/obj/Debug/net7.0/ref/jni4net.n.dll
jni4net.n/src/obj/Debug/net7.0/refint/jni4net.n.dll
jni4net.proxygen/src/.vscode/launch.json
jni4net.proxygen/src/.vscode/tasks.json
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.n.dll
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.n.pdb
jni4net.proxygen/src/bin/Debug/net7.0/src
jni4net.proxygen/src/bin/Debug/net7.0/src.deps.json
jni4net.proxygen/src/bin/Debug/net7.0/src.dll
jni4net.proxygen/src/bin/Debug/net7.0/src.pdb
jni4net.proxygen/src/bin/Debug/net7.0/src.runtimeconfig.json
jni4net.proxygen/src/bin/Debug/net7.0/System.CodeDom.dll
jni4net.proxygen/src/obj/project.assets.json
jni4net.proxygen/src/obj/project.nuget.cache
jni4net.proxygen/src/obj/src.csproj.nuget.dgspec.json
jni4net.proxygen/src/obj/src.csproj.nuget.g.props
jni4net.proxygen/src/obj/src.csproj.nuget.g.targets
jni4net.proxygen/src/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
jni4net.proxygen/src/obj/Debug/net7.0/apphost
jni4net.proxygen/src/obj/Debug/net7.0/src.AssemblyInfo.cs
jni4net.proxygen/src/obj/Debug/net7.0/src.AssemblyInfoInputs.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.assets.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.csproj.AssemblyReference.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.csproj.CopyComplete
jni4net.proxygen/src/obj/Debug/net7.0/src.csproj.CoreCompileInputs.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.csproj.FileListAbsolute.txt
jni4net.proxygen/src/obj/Debug/net7.0/src.dll
jni4net.proxygen/src/obj/Debug/net7.0/src.GeneratedMSBuildEditorConfig.editorconfig
jni4net.proxygen/src/obj/Debug/net7.0/src.genruntimeconfig.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.GlobalUsings.g.cs
jni4net.proxygen/src/obj/Debug/net7.0/src.pdb
jni4net.proxygen/src/obj/Debug/net7.0/ref/src.dll
jni4net.proxygen/src/obj/Debug/net7.0/refint/src.dll
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen.deps.json
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen.dll
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen.pdb
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen.runtimeconfig.json
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.AssemblyInfo.cs
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.AssemblyInfoInputs.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.assets.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.csproj.AssemblyReference.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.csproj.CoreCompileInputs.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.csproj.FileListAbsolute.txt
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.dll
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.GeneratedMSBuildEditorConfig.editorconfig
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.genruntimeconfig.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.pdb
jni4net.proxygen/src/obj/Debug/net7.0/ref/jni4net.proxygen.dll
jni4net.proxygen/src/obj/Debug/net7.0/refint/jni4net.proxygen.dll
jni4net.proxygen/src/obj/jni4net.proxygen.csproj.nuget.dgspec.json
jni4net.proxygen/src/obj/jni4net.proxygen.csproj.nuget.g.props
jni4net.proxygen/src/obj/jni4net.proxygen.csproj.nuget.g.targets
jni4net.test.n/src/.vscode/launch.json
jni4net.test.n/src/.vscode/tasks.json
jni4net.test.n/src/bin/Debug/net7.0/CoverletSourceRootsMapping
jni4net.test.n/src/bin/Debug/net7.0/jni4net.n.dll
jni4net.test.n/src/bin/Debug/net7.0/jni4net.n.pdb
jni4net.test.n/src/bin/Debug/net7.0/jni4net.test.n.deps.json
jni4net.test.n/src/bin/Debug/net7.0/jni4net.test.n.dll
jni4net.test.n/src/bin/Debug/net7.0/jni4net.test.n.pdb
jni4net.test.n/src/bin/Debug/net7.0/jni4net.test.n.runtimeconfig.json
jni4net.test.n/src/bin/Debug/net7.0/jni4net.tested.n.dll
jni4net.test.n/src/bin/Debug/net7.0/jni4net.tested.n.pdb
jni4net.test.n/src/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
jni4net.test.n/src/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
jni4net.test.n/src/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
jni4net.test.n/src/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
jni4net.test.n/src/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
jni4net.test.n/src/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
jni4net.test.n/src/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
jni4net.test.n/src/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
jni4net.test.n/src/bin/Debug/net7.0/Newtonsoft.Json.dll
jni4net.test.n/src/bin/Debug/net7.0/NuGet.Frameworks.dll
jni4net.test.n/src/bin/Debug/net7.0/nunit.engine.api.dll
jni4net.test.n/src/bin/Debug/net7.0/nunit.engine.core.dll
jni4net.test.n/src/bin/Debug/net7.0/nunit.engine.dll
jni4net.test.n/src/bin/Debug/net7.0/nunit.framework.dll
jni4net.test.n/src/bin/Debug/net7.0/NUnit3.TestAdapter.dll
jni4net.test.n/src/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
jni4net.test.n/src/bin/Debug/net7.0/System.CodeDom.dll
jni4net.test.n/src/bin/Debug/net7.0/testcentric.engine.metadata.dll
jni4net.test.n/src/bin/Debug/net7.0/testhost.dll
jni4net.test.n/src/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
jni4net.test.n/src/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
.gitignore
jni4net.test.n/src/obj/jni4net.test.n.csproj.nuget.dgspec.json
jni4net.test.n/src/obj/jni4net.test.n.csproj.nuget.g.props
jni4net.test.n/src/obj/jni4net.test.n.csproj.nuget.g.targets
jni4net.test.n/src/obj/project.assets.json
jni4net.test.n/src/obj/project.nuget.cache
jni4net.test.n/src/obj/src.csproj.nuget.dgspec.json
jni4net.test.n/src/obj/src.csproj.nuget.g.props
jni4net.test.n/src/obj/src.csproj.nuget.g.targets
jni4net.test.n/src/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.AssemblyInfo.cs
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.AssemblyInfoInputs.cache
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.assets.cache
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.csproj.AssemblyReference.cache
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.csproj.CopyComplete
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.csproj.CoreCompileInputs.cache
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.csproj.FileListAbsolute.txt
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.dll
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.GeneratedMSBuildEditorConfig.editorconfig
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.genruntimeconfig.cache
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.GlobalUsings.g.cs
jni4net.test.n/src/obj/Debug/net7.0/jni4net.test.n.pdb
jni4net.test.n/src/obj/Debug/net7.0/ref/jni4net.test.n.dll
jni4net.test.n/src/obj/Debug/net7.0/refint/jni4net.test.n.dll
jni4net.tested.n/src/bin/Debug/net7.0/jni4net.n.dll
jni4net.tested.n/src/bin/Debug/net7.0/jni4net.n.pdb
jni4net.tested.n/src/bin/Debug/net7.0/jni4net.tested.n.deps.json
jni4net.tested.n/src/bin/Debug/net7.0/jni4net.tested.n.dll
jni4net.tested.n/src/bin/Debug/net7.0/jni4net.tested.n.pdb
jni4net.tested.n/src/obj/jni4net.tested.n.csproj.nuget.dgspec.json
jni4net.tested.n/src/obj/jni4net.tested.n.csproj.nuget.g.props
jni4net.tested.n/src/obj/jni4net.tested.n.csproj.nuget.g.targets
jni4net.tested.n/src/obj/project.assets.json
jni4net.tested.n/src/obj/project.nuget.cache
jni4net.tested.n/src/obj/src.csproj.nuget.dgspec.json
jni4net.tested.n/src/obj/src.csproj.nuget.g.props
jni4net.tested.n/src/obj/src.csproj.nuget.g.targets
jni4net.tested.n/src/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.AssemblyInfo.cs
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.AssemblyInfoInputs.cache
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.assets.cache
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.csproj.AssemblyReference.cache
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.csproj.CopyComplete
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.csproj.CoreCompileInputs.cache
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.csproj.FileListAbsolute.txt
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.dll
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.GeneratedMSBuildEditorConfig.editorconfig
jni4net.tested.n/src/obj/Debug/net7.0/jni4net.tested.n.pdb
jni4net.tested.n/src/obj/Debug/net7.0/ref/jni4net.tested.n.dll
jni4net.tested.n/src/obj/Debug/net7.0/refint/jni4net.tested.n.dll
