jni4net.iws
**/target/**
tools/keys/jni4net.snk
tools/lib/
jni4net.n/src/bin/Debug/net7.0/jni4net.n.deps.json
jni4net.n/src/bin/Debug/net7.0/jni4net.n.dll
jni4net.n/src/bin/Debug/net7.0/jni4net.n.pdb
jni4net.n/src/obj/jni4net.n.csproj.nuget.dgspec.json
jni4net.n/src/obj/jni4net.n.csproj.nuget.g.props
jni4net.n/src/obj/jni4net.n.csproj.nuget.g.targets
jni4net.n/src/obj/project.assets.json
jni4net.n/src/obj/project.nuget.cache
jni4net.n/src/obj/src.csproj.nuget.dgspec.json
jni4net.n/src/obj/src.csproj.nuget.g.props
jni4net.n/src/obj/src.csproj.nuget.g.targets
jni4net.n/src/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
jni4net.n/src/obj/Debug/net7.0/jni4net.n.AssemblyInfo.cs
jni4net.n/src/obj/Debug/net7.0/jni4net.n.AssemblyInfoInputs.cache
jni4net.n/src/obj/Debug/net7.0/jni4net.n.assets.cache
jni4net.n/src/obj/Debug/net7.0/jni4net.n.csproj.AssemblyReference.cache
jni4net.n/src/obj/Debug/net7.0/jni4net.n.csproj.CoreCompileInputs.cache
jni4net.n/src/obj/Debug/net7.0/jni4net.n.csproj.FileListAbsolute.txt
jni4net.n/src/obj/Debug/net7.0/jni4net.n.dll
jni4net.n/src/obj/Debug/net7.0/jni4net.n.GeneratedMSBuildEditorConfig.editorconfig
jni4net.n/src/obj/Debug/net7.0/jni4net.n.GlobalUsings.g.cs
jni4net.n/src/obj/Debug/net7.0/jni4net.n.pdb
jni4net.n/src/obj/Debug/net7.0/ref/jni4net.n.dll
jni4net.n/src/obj/Debug/net7.0/refint/jni4net.n.dll
jni4net.proxygen/src/.vscode/launch.json
jni4net.proxygen/src/.vscode/tasks.json
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.n.dll
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.n.pdb
jni4net.proxygen/src/bin/Debug/net7.0/src
jni4net.proxygen/src/bin/Debug/net7.0/src.deps.json
jni4net.proxygen/src/bin/Debug/net7.0/src.dll
jni4net.proxygen/src/bin/Debug/net7.0/src.pdb
jni4net.proxygen/src/bin/Debug/net7.0/src.runtimeconfig.json
jni4net.proxygen/src/bin/Debug/net7.0/System.CodeDom.dll
jni4net.proxygen/src/obj/project.assets.json
jni4net.proxygen/src/obj/project.nuget.cache
jni4net.proxygen/src/obj/src.csproj.nuget.dgspec.json
jni4net.proxygen/src/obj/src.csproj.nuget.g.props
jni4net.proxygen/src/obj/src.csproj.nuget.g.targets
jni4net.proxygen/src/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
jni4net.proxygen/src/obj/Debug/net7.0/apphost
jni4net.proxygen/src/obj/Debug/net7.0/src.AssemblyInfo.cs
jni4net.proxygen/src/obj/Debug/net7.0/src.AssemblyInfoInputs.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.assets.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.csproj.AssemblyReference.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.csproj.CopyComplete
jni4net.proxygen/src/obj/Debug/net7.0/src.csproj.CoreCompileInputs.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.csproj.FileListAbsolute.txt
jni4net.proxygen/src/obj/Debug/net7.0/src.dll
jni4net.proxygen/src/obj/Debug/net7.0/src.GeneratedMSBuildEditorConfig.editorconfig
jni4net.proxygen/src/obj/Debug/net7.0/src.genruntimeconfig.cache
jni4net.proxygen/src/obj/Debug/net7.0/src.GlobalUsings.g.cs
jni4net.proxygen/src/obj/Debug/net7.0/src.pdb
jni4net.proxygen/src/obj/Debug/net7.0/ref/src.dll
jni4net.proxygen/src/obj/Debug/net7.0/refint/src.dll
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen.deps.json
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen.dll
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen.pdb
jni4net.proxygen/src/bin/Debug/net7.0/jni4net.proxygen.runtimeconfig.json
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.AssemblyInfo.cs
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.AssemblyInfoInputs.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.assets.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.csproj.AssemblyReference.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.csproj.CoreCompileInputs.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.csproj.FileListAbsolute.txt
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.dll
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.GeneratedMSBuildEditorConfig.editorconfig
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.genruntimeconfig.cache
jni4net.proxygen/src/obj/Debug/net7.0/jni4net.proxygen.pdb
jni4net.proxygen/src/obj/Debug/net7.0/ref/jni4net.proxygen.dll
jni4net.proxygen/src/obj/Debug/net7.0/refint/jni4net.proxygen.dll
jni4net.proxygen/src/obj/jni4net.proxygen.csproj.nuget.dgspec.json
jni4net.proxygen/src/obj/jni4net.proxygen.csproj.nuget.g.props
jni4net.proxygen/src/obj/jni4net.proxygen.csproj.nuget.g.targets
